.wrapperForm {
    margin-top: 75px;
    font-family: Lato, Arial, sans-serif, -apple-system;
    display: flex;
    justify-content: space-around;
}

.wrapperInputs {
    margin-bottom: 70px;
}

.wrapperInputs p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.blockInputs {
    display: flex;
    flex-direction: column;
}




.inputElementWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.inputElementInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputElement {
    width: 250px;
    height: 25px;
    background-color: #F1F1F1;
    font-size: 14px;

    border: 1px solid transparent;
    outline: none;
    padding: 5px 5px 5px 10px;
    transition: background-color .15s;
}

.inputElement::placeholder {
    color: rgba(0, 0, 0, 0.35);
}

.inputElement:hover {
    background-color: #d4d4d4;
}

.inputElementWithError {
    width: 250px;
    height: 25px;
    background-color: #F1F1F1;
    font-size: 14px;


    border: 1px solid red;
    outline: none;
    padding: 5px 5px 5px 10px;
    transition: background-color .15s;
    transition: border .35s
}

.inputElementWithError::placeholder {
    color: rgba(0, 0, 0, 0.35);
}

.inputElementWithError:hover {
    background-color: #d4d4d4;
}

.inputElementTextError {
    width: 267px;
    height: 16px;
    font-size: 12px;
    margin-left: 300px;
    /* background-color: green; */
    color: red;
}

.inputElementWrapper label {
    width: 300px;
    font-size: 16px;
}

.buttonSubmitWrapper {
    display: flex;
    justify-content: end;
}


.buttonSubmit {
    right: 0;
    width: 150px;
    height: 40px;
    background-color: #0094FF;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}